In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
car_data = pd.read_csv("yt_car_main.csv")
car_used_price = pd.read_csv("yt_car_used_prices.csv")
car_info = pd.read_csv("yt_car_info.csv")

pd.set_option('display.max_rows', None) # display all rows
pd.set_option('display.max_columns', None) # display all columns

car_data.head()

,index,Make,Model,Year,Trim,Retail_Price,Invoice Price,Body Size,Body Style
0,0,Aston Martin,DBX707,2024,Base,242000,NaN,Large,SUV
1,1,Audi,A3,2024,Premium w/40 TFSI,35800,"$33,653",Compact,Sedan
2,2,Audi,A3,2024,Premium w/40 TFSI,37800,"$35,533",Compact,Sedan
3,3,Audi,A3,2024,Premium Plus w/40 TFSI,41400,"$38,917",Compact,Sedan
4,4,Audi,A3,2024,Premium Plus w/40 TFSI,39400,"$37,037",Compact,Sedan

In [3]:
car_used_price.head()

   index  Used Price
0      0      242000
1      1       35800
2      2       37800
3      3       41400
4      4       39400

In [4]:
car_info.head()

,index,Cylinders,Engine Aspiration,Drivetrain,Transmission,Horsepower,Torque,Highway Fuel Economy
0,0,V8,Twin-Turbo,AWD,automatic,697 hp @ 6000 rpm,663 ft-lbs. @ 2750 rpm,20 mpg
1,1,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg
2,2,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg
3,3,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg
4,4,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg

## 1. Conditions

In [22]:
# Top ten rows
car_data.head(10)

# Show the last 5 rows
car_data.tail()

# Show the Make and Model - Top 7
car_data[['Make', 'Model']].head(7)

# Show all data for year 2024
car_data[car_data['Year'] == 2024]

# Show all data where Make is not Audi
car_data[car_data['Make'] != 'Audi']['Make'].unique()

# Show all data for BMW and Audi cars
car_data[car_data['Make'].isin(['BMW', 'Audi'])]

# Show all unique models
car_data['Model'].unique()

# Show all data excluding X5 and X6 models
car_data[~car_data['Model'].isin(['X5', 'X6'])]

# Show all the cars that have more than 70k retail price OR body style is SUV
car_data[(car_data['Retail_Price'] > 70000) | (car_data['Body Style'] == 'SUV')]

# Show all cars with less than 40k retail price AND body size is large
car_data[(car_data['Retail_Price'] < 40000) & (car_data['Body Size'] == 'Large')]

# Show all cars that have a 'Premium' in Trim
car_data[car_data['Trim'].str.contains('Premium')]

# Make Invoice Price into a number
car_data.dtypes
# car_data['Invoice Price'] = car_data['Invoice Price'].str.replace('$', '')
# car_data['Invoice Price'] = car_data['Invoice Price'].str.replace(',', '').astype(float)
car_data.dtypes
car_data.head()

,index,Make,Model,Year,Trim,Retail_Price,Invoice Price,Body Size,Body Style
0,0,Aston Martin,DBX707,2024,Base,242000,NaN,Large,SUV
1,1,Audi,A3,2024,Premium w/40 TFSI,35800,33653.0,Compact,Sedan
2,2,Audi,A3,2024,Premium w/40 TFSI,37800,35533.0,Compact,Sedan
3,3,Audi,A3,2024,Premium Plus w/40 TFSI,41400,38917.0,Compact,Sedan
4,4,Audi,A3,2024,Premium Plus w/40 TFSI,39400,37037.0,Compact,Sedan

## 2. Aggregations

In [39]:
# Total retail price
car_data['Retail_Price'].sum()

# Average retail price
car_data['Retail_Price'].mean()

# Min and max retail price
car_data['Retail_Price'].agg(['min', 'max', 'count'])

# Number of unique models
car_data['Model'].nunique()

# Average Retail Price per Model
car_data.groupby(['Model']).agg({'Retail_Price': 'mean'}).reset_index()

# Total retail price per make and model 
car_data.groupby(['Make', 'Model']).agg({'Retail_Price': 'sum'}).reset_index()

# Min Retail Price and Count of Cars/Index per Make and Model
car_data.groupby(['Make', 'Model'], as_index=False).agg({"Retail_Price": "min", "index": "count"})

# Total retail price for Audi cars
car_data['Retail_Price'][car_data['Make'] == 'Audi'].sum()

# Show number of cars per make
car_data['Make'].value_counts()

Make
Ford             617
Audi             247
Mercedes-Benz    239
Nissan           200
BMW              178
Bentley           69
Aston Martin       9
Name: count, dtype: int64

## 3. Joins & Concat

In [40]:
car_data.head()

,index,Make,Model,Year,Trim,Retail_Price,Invoice Price,Body Size,Body Style
0,0,Aston Martin,DBX707,2024,Base,242000,NaN,Large,SUV
1,1,Audi,A3,2024,Premium w/40 TFSI,35800,33653.0,Compact,Sedan
2,2,Audi,A3,2024,Premium w/40 TFSI,37800,35533.0,Compact,Sedan
3,3,Audi,A3,2024,Premium Plus w/40 TFSI,41400,38917.0,Compact,Sedan
4,4,Audi,A3,2024,Premium Plus w/40 TFSI,39400,37037.0,Compact,Sedan

In [41]:
car_info.head()

,index,Cylinders,Engine Aspiration,Drivetrain,Transmission,Horsepower,Torque,Highway Fuel Economy
0,0,V8,Twin-Turbo,AWD,automatic,697 hp @ 6000 rpm,663 ft-lbs. @ 2750 rpm,20 mpg
1,1,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg
2,2,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg
3,3,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg
4,4,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg

In [42]:
car_used_price.head()

   index  Used Price
0      0      242000
1      1       35800
2      2       37800
3      3       41400
4      4       39400

In [46]:
# Show all the main data and Used Prices per car
car_data.merge(car_used_price, how='left', on='index')

# Show the Make, Model, and Average Used Price per Car
data2 = car_data.merge(car_used_price, how='left', on='index')
data2.groupby(['Make', 'Model'], as_index=False).agg({'Used Price': 'mean'}).dropna()

# Show the Make, Model, Retail Price, Cylinders & Horsepower
car_data[['index', 'Make', 'Model', 'Retail_Price']].merge(car_info[['index', 'Cylinders', 'Horsepower']], how='left', on='index')

# Create a master dataset with all 3 tables
print(car_data.shape, "car_data")
master = car_data.merge(car_used_price, how='left', on='index')
print(master.shape, "car_data")
master = master.merge(car_info, how='left', on='index')
print(master.shape, "car_data")
master.head()

(1559, 9) car_data
(1559, 10) car_data
(1559, 17) car_data

,index,Make,Model,Year,Trim,Retail_Price,Invoice Price,Body Size,Body Style,Used Price,Cylinders,Engine Aspiration,Drivetrain,Transmission,Horsepower,Torque,Highway Fuel Economy
0,0,Aston Martin,DBX707,2024,Base,242000,NaN,Large,SUV,242000.0,V8,Twin-Turbo,AWD,automatic,697 hp @ 6000 rpm,663 ft-lbs. @ 2750 rpm,20 mpg
1,1,Audi,A3,2024,Premium w/40 TFSI,35800,33653.0,Compact,Sedan,35800.0,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg
2,2,Audi,A3,2024,Premium w/40 TFSI,37800,35533.0,Compact,Sedan,37800.0,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg
3,3,Audi,A3,2024,Premium Plus w/40 TFSI,41400,38917.0,Compact,Sedan,41400.0,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg
4,4,Audi,A3,2024,Premium Plus w/40 TFSI,39400,37037.0,Compact,Sedan,39400.0,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg

## 4. Creating new fields

In [48]:
# Create a new column that has a "Yes/No" if the car retail price is greater than 100k
master['More_than_100k'] = np.where(master['Retail_Price'] > 100000, 'Yes', 'No')

# Create a new torque column with just the number
master['Torque No'] = master['Torque'].str[0:3].astype(float)

# Create a new field that has the retail_price per torque
master['Retail_per_Torque'] = master['Retail_Price'] / master['Torque No']

master.head()

,index,Make,Model,Year,Trim,Retail_Price,Invoice Price,Body Size,Body Style,Used Price,Cylinders,Engine Aspiration,Drivetrain,Transmission,Horsepower,Torque,Highway Fuel Economy,More_than_100k,Torque No,Retail_per_Torque
0,0,Aston Martin,DBX707,2024,Base,242000,NaN,Large,SUV,242000.0,V8,Twin-Turbo,AWD,automatic,697 hp @ 6000 rpm,663 ft-lbs. @ 2750 rpm,20 mpg,Yes,663.0,365.007541
1,1,Audi,A3,2024,Premium w/40 TFSI,35800,33653.0,Compact,Sedan,35800.0,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg,No,221.0,161.990950
2,2,Audi,A3,2024,Premium w/40 TFSI,37800,35533.0,Compact,Sedan,37800.0,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg,No,221.0,171.040724
3,3,Audi,A3,2024,Premium Plus w/40 TFSI,41400,38917.0,Compact,Sedan,41400.0,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg,No,221.0,187.330317
4,4,Audi,A3,2024,Premium Plus w/40 TFSI,39400,37037.0,Compact,Sedan,39400.0,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg,No,221.0,178.280543

## 5. For Loops

In [51]:
import warnings
warnings.filterwarnings('ignore')

In [55]:
# Add the average retail price per Model in the master table

models = master['Model'].unique()
master['AVG Retail Price Per Model'] = ''

for m in models:
    data = master[master['Model'] == m]
    avg_retail_price = data['Retail_Price'].mean() 
    print(m, avg_retail_price)
    master['AVG Retail Price Per Model'][master['Model'] == m] = avg_retail_price

master.head()

DBX707 239000.0
A3 38350.0
A4 46675.0
A4 allroad 49950.0
A5 54000.0
A6 63380.0
A6 allroad 71300.0
A7 75700.0
A8 89350.0
Q3 39825.0
Q4 Sportback e-tron 62344.444444444445
Q4 e-tron 57246.153846153844
Q5 54972.22222222222
Q5 Sportback 55550.0
Q7 66240.0
Q8 77750.0
Q8 Sportback e-tron 82733.33333333333
Q8 e-tron 79333.33333333333
RS 3 61600.0
RS 5 78900.0
RS 6 123850.0
RS 7 125850.0
RS Q8 125800.0
RS e-tron GT 145500.0
S3 50300.0
S4 57416.666666666664
S5 63250.0
S6 78933.33333333333
S7 88300.0
S8 121950.0
SQ5 61616.666666666664
SQ5 Sportback 64350.0
SQ7 92600.0
SQ8 99300.0
SQ8 Sportback e-tron 95600.0
SQ8 e-tron 92800.0
e-tron GT 109300.0
2 Series 44900.0
2 Series Gran Coupe 41450.0
3 Series 49800.0
4 Series 59300.0
4 Series Gran Coupe 54175.0
5 Series 61540.0
7 Series 105166.66666666667
8 Series 100041.66666666667
8 Series Gran Coupe 95216.66666666667
ALPINA B8 Gran Coupe 147100.0
ALPINA XB7 147200.0
M2 62700.0
M3 78466.66666666667
M3 CS 118700.0
M4 83200.0
M8 141350.0
M8 Gran Coupe 136450.0
X1 43000.0
X2 42150.0
X3 51741.666666666664
X3 M 74200.0
X4 59862.5
X4 M 77750.0
X5 71387.5
X5 M 115600.0
X6 81675.0
X6 M 120450.0
X7 92887.5
XM 167666.66666666666
Z4 59500.0
i4 59342.857142857145
i5 75450.0
i7 129425.0
iX 97900.0
Bentayga 226093.75
Bentayga EWB 262266.6666666667
Continental 306175.0
Flying Spur 265442.1052631579
Bronco 50602.2972972973
Bronco Sport 34325.90909090909
E-Transit Cargo Van 56193.666666666664
Edge 42245.0
Escape 34201.5625
Expedition 70400.0
Explorer 48687.64705882353
F-150 53935.530303030304
F-150 Lightning 68328.33333333333
F-250 Super Duty 60228.0
F-350 Super Duty 62461.57534246575
F-450 Super Duty 75565.0
Maverick 26850.833333333332
Mustang 41575.625
Mustang Mach-E 47828.333333333336
Ranger 36936.05263157895
Transit Cargo Van 50821.42857142857
Transit Passenger Van 56188.10344827586
AMG GT 138960.0
C-Class 60893.333333333336
CLA-Class 49593.75
CLE 66630.0
E-Class 77971.875
EQB 56733.333333333336
EQE 86400.0
EQE SUV 85700.0
EQS 121500.0
EQS SUV 112816.66666666667
G-Class 225150.0
GLA-Class 46471.42857142857
GLB-Class 47175.0
GLC-Class 51610.0
GLC-Class Coupe 62625.0
GLE-Class 80662.5
GLE-Class Coupe 105187.5
GLS-Class 111775.0
Maybach 213750.0
Maybach EQS SUV 179900.0
Maybach GLS 172175.0
S-Class 130635.71428571429
SL-Class 144733.33333333334
Sprinter 59226.35135135135
eSprinter 73601.0
ARIYA 49468.94736842105
Altima 30015.0
Armada 60862.857142857145
Frontier 35074.73684210526
GT-R 163010.0
Kicks 22293.333333333332
LEAF 32102.5
Murano 42828.88888888889
Pathfinder 41377.333333333336
Rogue 33548.63636363636
Sentra 21900.0
Titan 50433.529411764706
Titan XD 57108.57142857143
Versa 18570.0
Z 49660.90909090909
DB11 225100.0
Vantage 228380.0
R8 202260.0
TT 54250.0
TTS 61900.0
e-tron 78333.33333333333
e-tron S 91750.0
e-tron S Sportback 94350.0
e-tron Sportback 81433.33333333333
M4 CSL 139900.0
M5 107900.0
Transit Connect Cargo Van 34377.5
Transit Connect Passenger Wagon 36046.0
Transit Crew Van 50068.75
CLS-Class 76500.0
Metris 41133.333333333336
Maxima 42096.666666666664

,index,Make,Model,Year,Trim,Retail_Price,Invoice Price,Body Size,Body Style,Used Price,Cylinders,Engine Aspiration,Drivetrain,Transmission,Horsepower,Torque,Highway Fuel Economy,More_than_100k,Torque No,Retail_per_Torque,AVG Retail Price Per Model
0,0,Aston Martin,DBX707,2024,Base,242000,NaN,Large,SUV,242000.0,V8,Twin-Turbo,AWD,automatic,697 hp @ 6000 rpm,663 ft-lbs. @ 2750 rpm,20 mpg,Yes,663.0,365.007541,239000.0
1,1,Audi,A3,2024,Premium w/40 TFSI,35800,33653.0,Compact,Sedan,35800.0,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg,No,221.0,161.990950,38350.0
2,2,Audi,A3,2024,Premium w/40 TFSI,37800,35533.0,Compact,Sedan,37800.0,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg,No,221.0,171.040724,38350.0
3,3,Audi,A3,2024,Premium Plus w/40 TFSI,41400,38917.0,Compact,Sedan,41400.0,I4,Turbocharged,AWD,automatic,201 hp @ 5000 rpm,221 ft-lbs. @ 4000 rpm,34 mpg,No,221.0,187.330317,38350.0
4,4,Audi,A3,2024,Premium Plus w/40 TFSI,39400,37037.0,Compact,Sedan,39400.0,I4,Turbocharged,FWD,automatic,201 hp @ 4800 rpm,221 ft-lbs. @ 4100 rpm,37 mpg,No,221.0,178.280543,38350.0